{% extends "base.html" %} {% block title %}Help Line{% endblock %}{% block style %}<style>
    h1{text-align:center;color:#ffffff;  }
    p{text-align:center;color:#ffffff; }
  .center{text-align:center;
  position:absolute;
  width: 300px;
  border: 3px solid white;
  padding: 50px;
  margin-left:905px;}
  </style>{% endblock %}
{% block navbar %}<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a class="nav-item nav-link" id="home" href="/">Home</a>
        <a class="nav-item nav-link" id="Grocerry" href="/grocerry">Grocerry</a>
        <a class="nav-item nav-link" id="Medicine" href="/meds">Medicine</a>
        <a class="nav-item nav-link" id="Helpline" href="/help-line">Helpline</a>
        <a class="nav-item nav-link" id="Logout" href="/logout">Logout</a>
      </div>
    </div>
  </nav>{% endblock %}
  
  {% block content %}
  <h1>All Helpline numbers are listed below</h1>
  <style> 
     table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    border: 1px;
       }
      td,tr{
     table-layout: auto;
     padding: 2px;
     border: 1px;
       }
 </style>
    
 <table id="numb">
   <tr>
     <th>Place</th>
     <th>Helpline Number</th>
    </tr>
    <tr>
     <td>Central Covid Numebr</td>
     <td>+91-11-23978046</td>
    </tr>
    <tr>
     <td>Andhra Pradesh</td>
     <td>0866-2410978</td>
    </tr>
    <tr>
     <td>Arunachal Pradesh</td>
     <td>9436055743</td>
    </tr>
    <tr>
     <td>Assam</td>
     <td>6913347770</td>
    </tr>
    <tr>
     <td>Bihar</td>
     <td>104</td>
    </tr>
    <tr>
     <td>Chhattisgarh</td>
     <td>104</td>
    </tr>
    <tr>
     <td>Goa</td>
     <td>104</td>
    </tr>
    <tr>
     <td>Gujarat</td>
     <td>104</td>
     </tr>
     <tr>
     <td>Haryana</td>
     <td>8558893911</td>
     </tr>
     <tr>
     <td>Himachal Pradesh</td>
     <td>104</td>
     </tr>
      <tr>
       <td>Jharkhand</td>
       <td>104</td>
     </tr>
     <tr>
       <td>Karnataka</td>
       <td>104</td>
     </tr>
     <tr>
       <td>Kerala</td>
       <td>0471-2552056</td>
     </tr>
     <tr>
       <td>Madhya Pradesh</td>
       <td>104</td>
     </tr>
     <tr>
       <td>Maharashtra</td>
       <td>020-26127394</td>
     </tr>
     <tr>
       <td>Manipur</td>
       <td>3852411668</td>
     </tr>
     <tr>
       <td>Meghalaya</td>
       <td>108</td>
     </tr>
     <tr>
       <td>Mizoram</td>
       <td>102</td>
     </tr>
     <tr>
       <td>Nagaland</td>
       <td>7005539653</td>
     </tr>
     <tr>
       <td>Odisha</td>
       <td>9439994859</td>
     </tr>
     <tr>
       <td>Punjab</td>
       <td>104</td>
     </tr>
     <tr>
       <td>Rajasthan</td>
       <td>0141-2225624</td>
     </tr>
     <tr>
       <td>Sikkim</td>
       <td>104</td>
     </tr>
     <tr>
       <td>Tamil Nadu</td>
       <td>044-29510500</td>
     </tr>
     <tr>
       <td>Telangana</td>
       <td>104</td>
     </tr>
     <tr>
       <td>Tripura</td>
       <td>0381-2315879</td>
     </tr>
     <tr>
       <td>Uttar Pradesh</td>
       <td>18001805145</td>
     </tr>
     <tr>
       <td>Uttarakhand</td>
       <td>104</td>
     </tr>
     <tr>
       <td>West Bengal</td>
       <td>1800313444222, 03323412600</td>
     </tr>
 </table>
  {% endblock %}